body {

    margin: 0px;
}




.welcome {
    display: grid;
    grid-template-rows: 35% 65%;
    min-height: 100vh;
}

.welcome-up {
    width: 100%;
    height: 100%;
    background-color: #00CCB3;
    margin: 0px;
    position: relative;
}

.welcome-down {
    width: 100%;
    height: 100%;
}

.welcome-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Advent Pro', sans-serif;
}

.logo-container {
    position: absolute;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    bottom: -25%;
    transform: translateX(-50%);
    left: 50%;

    padding: 10px;
}

.welcome-text {
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 35px;
    color: white;
    /* color: 	#0F1A25; */
}

.welcome-flag {
    height: 100px;
}

.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

.register-middle {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.general-text {
    margin-top: 0px;
    color: 	#0F1A25;
    font-family: 'Monda', sans-serif;
}

.name {
    margin-top: 0px;
    color: 	#ED1F34;
    font-family: 'Monda', sans-serif;
}

.short-field {
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    height: 30px;
    border-radius: 5px;
    box-shadow: none;
    outline: 0;
    background: transparent;
    text-align: center;
    width: 150px;
    border: 1px solid #0F1A25;
    color: 	#0F1A25;
    font-family: 'Monda', sans-serif;
}

.large-field {
    margin-bottom: 10px;
    height: 30px;
    border-radius: 5px;
    box-shadow: none;
    outline: 0;
    background: transparent;
    text-align: center;
    width: 312px;
    border: 1px solid #0F1A25;
    color: 	#0F1A25;
    font-family: 'Monda', sans-serif;
}

.general-link {
    color: 	#ED1F34;
    font-weight: bold;
    font-family: 'Monda', sans-serif;
    margin-top: 20px;
    font-size: 18px
}

.general-button {
margin-top: 15px;
margin-bottom: 5px;
height: 40px;
width: 185px;
background-color: #00CCB3;
color: white;
border-radius: 5px;
border: 1px solid #00CCB3;
/* font-weight: bold; */
font-family: 'Monda', sans-serif;
font-size: 17px;
}

.pink-button {
margin-top: 15px;
margin-bottom: 5px;
height: 40px;
width: 185px;
background-color: rgb(253, 124, 143);
color: white;
border-radius: 5px;
border: 1px solid rgb(253, 124, 143);
/* font-weight: bold; */
font-family: 'Monda', sans-serif;
font-size: 17px;
}


.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

.reset {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    height: 90px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #00CCB3;
    color: white;
    border: none;
}

.app-logo {
    margin: 20px 50px 20px 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.app-pic {
    border-radius: 50%;
    background-color: white;
    padding: 5px;
}

.app-flag {
    height: 55px;
    margin-bottom: 0px;
}

.app-welcome-text {
    font-family: 'Advent Pro', sans-serif;
    color: 	white;
    font-size: 22px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 15px;
}

.menu-link {
    font-family: 'Monda', sans-serif;
    font-size: 17px;
    color: white;
    margin-left: 20px;
    margin-top: 15px;
    text-decoration: none;
    border-right: 1px solid white;
    padding-right: 15px;
    margin-left: 15px;
}

.menu-link-right {
    font-family: 'Monda', sans-serif;
    font-size: 17px;
    color: white;
    margin-left: 20px;
    margin-top: 15px;
    text-decoration: none;
    padding-right: 15px;
    margin-left: 15px;
}

.menu-pic {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.uploader {
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    text-align: center;
    margin-top: 70px;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    object-fit: cover;
}

.pp {
    /* margin-top: 20%; */
    height: 65px;
    width: 65px;
    border-radius: 50%;
    margin-right: 100px;
    margin-left: 80px;
}

.search {
    margin: 30px 0 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-text {
    color: 	#0F1A25;
    font-family: 'Monda', sans-serif;
    margin: 30px 0 30px 0;
    font-size: 20px;
}

.new-users {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-users-profiles {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.go-profile {
    color: #ED1F34;
    margin-left: 12px;
    font-family: 'Monda', sans-serif;
    font-size: 15px;
}

.friend-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 50px;
}

.friend-text {
    color: 	#0F1A25;
    font-family: 'Monda', sans-serif;
    margin: 50px 0 0px 50px;
    font-size: 20px;
}

.friend {
    display: flex;
    flex-direction: row;
    min-width: 250px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(209, 231, 248, 0.8);
    box-shadow: 0 0 2px #0F1A25;
    margin: 30px 20px 0 0;
}

.friend-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
}

.friend-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.friends-pic {
    height: 75px;
    width: 75px;
    border-radius: 5%;
    margin: 0px 5px 0px 5px;
}

.friend-name {
    font-family: 'Monda', sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: 	#0F1A25;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 5px;
}

.friend-button {
    background-color: transparent;
    border: none;
    color: #ED1F34;
    text-decoration: underline;
    margin-left: 5px;
    font-family: 'Monda', sans-serif;
    font-size: 15px;
    margin-top: 0px;
}

.profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-top: 50px; */
    padding-top: 100px;
    padding-bottom: 50px;

}

.profile-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
    padding: 50px;
    border-radius: 5px;
    background-color: rgb(209, 231, 248, 0.8);
    box-shadow: 0 0 2px #0F1A25;
}

.ppcontainer .pp {
    height: 300px;
    width: 300px;
    border-radius: 5%;
    box-shadow: 0 0 5px #0F1A25;
}

.bio-editor {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.small-text {
    margin-top: 0px;
    color: 	#0F1A25;
    font-family: 'Monda', sans-serif;
    font-size: 15px;
}


.chat-container {
    height: 300px;
    overflow-y: scroll;
}
